.title {
    display: inline-block;
    font-stretch: extra-expanded;
    font-family: Impact;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    background-color: white;
    max-width: 1500px;
    margin: 0 auto; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    justify-content: center;
} 
.towers {
    background-color: white;
    border-style: solid dashed solid dashed;
    border-width: 10px 10px 10px 10px;
    height: 400px;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
#ringOne {
    background-image: url("Wood-Color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display:block;
}
#ringTwo {
    background-image: url("Wood-Color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    display:block;
}
#ringThree {
    background-image: url("Wood-Color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    display:block;
}
.foot {
    text-decoration: none;
    font-family: Impact;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    font-size: 2em;
    color: black;
}
.selected{
    border:3px solid red;
}
/* flashing Icon from : http://jsfiddle.net/umz8t/328/  https://www.tutorialspoint.com/online_html_editor.php */
.hidden{
    display:none;
}
.blink_me {
    display: inline;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


